header {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 7rem;
}

h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
}

body {
  padding: 0 1rem;
}

.wrapper-404 {
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}


.text-404 {
  text-align: center;
  line-height: 1.7;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  padding-bottom: 2rem;
}




