/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
    --color-text: #0A1522;
    --color-text-light: #00B3CC;
    --color-bg: #ffffff;
    --font-primary: "Rubik", sans-serif;
    --font-heading: "Poppins", sans-serif;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
  box-sizing: border-box;
}





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
  margin: 0px;
  padding: 0px;
}

.container-404 {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.text-404 {
  text-align: center;
  line-height: 1.7;
  font-size: 3rem;
}

@media (max-width: 860px) {

  .container-404 {
    width: 90%
  }
}





/*------------------------------------*\
  #FONTS
\*------------------------------------*/

html {
  font-size: min(3.2vw, 14px);
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

h1 {
  font-family: var(--font-pair);
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  padding: 50px;
  margin-top: 40px;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
  box-sizing: border-box;
}





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
  margin: 0px;
  padding: 0px;
}

section {
  padding: 6rem 1.2rem 1.2rem 1.2rem;
}






/*------------------------------------*\
  #HEADINGS & FONTS
\*------------------------------------*/

html {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: clamp(2rem, 4.5vw, 4.5rem);
}


a {
  text-decoration: none;
  color: var(--color-text);
}

p {
  line-height: 1.5;
  font-size: clamp(1rem, 1.1vw, 1.1rem);
}





/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 9999px;
  border: 2px solid var(--color-bg);
  padding: .4rem 2.3rem;
  line-height: normal;
}

.button-primary {
  font-weight: 800;
  margin-right: .5rem;
  color: var(--color-text);
  background-color: var(--color-text-light);
  border-color: transparent;
  transition: transform .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}

.button-primary:hover {
  background-color: transparent;
  color: var(--color-text-light);
  transform: scale(1.15);
}

.button-center {
    display: flex;
    justify-content: center;
    padding: 2rem;
}