:root {
  --color-text: #0A1522;
  --color-text-light: #00B3CC;
  --color-bg: #ffffff;
  --color-bg-light: #E3F0F4;
  --color-strong: #FFC859;
  --font-primary: "Rubik", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --hover-coloring-filter: invert(66%) sepia(85%) saturate(4944%) hue-rotate(161deg) brightness(93%) contrast(91%);
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
  box-sizing: border-box;
}





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}





/*------------------------------------*\
  #HEADINGS & FONTS
\*------------------------------------*/

html {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-size: clamp(2rem, 4.5vw, 4.5rem);
  color: var(--color-text);
  font-family: var(--font-heading);
  font-weight: 800;
  padding: .4rem 0;
  text-align: center;
  line-height: 1.05;
}

h2 {
  font-size: clamp(1.5rem, 2.5vw, 1.7rem);
  color: var(--color-bg);
  font-weight: 800;
  padding: .4rem 0 1.5rem 0;
  text-align: center;
  line-height: 1.05;
  font-family: var(--font-heading);
}

h3 {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  color: var(--color-text-light);
  text-align: center;
  font-weight: 400;
  padding-bottom: 1rem;
}

p {
  font-size: clamp(1rem, 1.1vw, 1.1rem);
}

a {
  text-decoration: none;
  color: var(--color-text);
  padding: 2rem;
}

p {
  line-height: 1.5;
}





/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 9999px;
  border: 2px solid var(--color-bg);
  padding: .4rem 2.3rem;
  line-height: normal;
}

.button-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 2.1rem;
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
}

.button__arrow-icon {
  padding-left: 4px;
}

.button-back {
  margin-top: 2rem
}

.button-back:hover img {
  transform: translatex(-4px);
}

.button-more:hover .button__arrow-icon {
  transform: translatex(6px);
}

.button-more {
  padding-left: 0;
  color: var(--color-text-light);
}

.button-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.button__arrow-icon {
  max-width: 20px;
}

.up-button {
  width: 3rem;
  cursor: pointer;
}

.button-back a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.button-back-icon {
  width: 30px;
}








/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__subpage {
  width: 10rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
}







/*------------------------------------*\
  #CLOSE BUTTON
\*------------------------------------*/

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text);
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.close-btn:hover {
  transform: scale(1.2);
  color: var(--color-text-light);
}






/*------------------------------------*\
  #BODY
\*------------------------------------*/

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.blog {
  max-width: 1800px;
  margin: 0 auto;
  padding: 3rem;
}

.blog__items {
  max-width: 100%;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1.5rem;
}

.blog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  margin-bottom: 25px;
  padding: .5em;
}

.blog__item p {
  padding-bottom: 1rem;
}

.blog__pic {
  max-width: 100%;
}




/*------------------------------------*\
  #COPYRIGHT
\*------------------------------------*/

.copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-bg);
  font-family: var(--font-primary);
  padding-inline: 0;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.copyright__logo {
  max-width: 120px;
  margin-bottom: -.15rem;
}

.copyright__text {
  width: 100%;
  text-align: center;
  font-size: .8rem;
}