/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

.logo:hover {
  transform: scale(1.01);
}

.header__logo {
  padding-bottom: 3rem;
}

.header__button {
  padding-bottom: 4rem;
}

h1 {
  padding-bottom: 6rem;
  font-size: clamp(2.2rem, 3.5vw, 4rem);
}

.section__subtitle {
  padding-bottom: 2rem;
}





/*------------------------------------*\
  #FAQ
\*------------------------------------*/

.faq {
  padding: 1rem;
}

.faq__question {
  padding: 1rem;
  font-weight: 600;
}

.faq__answer {
  padding: .5rem;
  font-style: italic;
  border-bottom: 2px solid var(--color-primary);
  display: none;
}

.faq__question:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.faq__item.active .faq__answer {
  display: block;
}

.faq__link {
  text-decoration: none;
}

.faq__link:hover {
  color: var(--color-primary);
}