:root {
    --color-text: #0A1522;
    --color-text-light: #00B3CC;
    --color-bg: #ffffff;
    --color-bg-light: #D7ECEF;
    --color-strong: #FFC859;
    --font-primary: "Rubik", sans-serif;
    --font-heading: "Poppins", sans-serif;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
    box-sizing: border-box;
}





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
    margin: 0px;
    padding: 0px;
}

section {
    padding: 1.2rem;
    padding-top: 6rem;
}





@media (min-width: 768px) {
    section {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}





/*------------------------------------*\
  #HEADINGS & FONTS
\*------------------------------------*/

html {
    font-size: 16px;
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-bg);
}


h1 {
    font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

h3 {
    font-size: clamp(1.2rem, 2.2vw, 1.5rem);
}

h4 {
    font-size: clamp(1.1rem, 2vw, 1.25rem);
}

p {
    font-size: clamp(1rem, 1.1vw, 1.1rem);
}

h1,
h2,
h3,
h4,
.hero {
    font-family: var(--font-heading);
}

h1,
h2 {
    font-weight: 800;
    padding: .4rem 0;
    text-align: center;
    line-height: 1.05;
}

h1 {
    color: var(--color-bg);
}

.hero__text {
    font-size: clamp(1.2rem, 2.6vw, 1.6rem);
}

h2 {
    padding-bottom: 1rem;
}

h3 {
    color: var(--color-text-light);
    text-align: center;
    font-weight: 600;
    padding-bottom: 1rem;
}

.h3--inverz {
    color: var(--color-bg);
}

h3,
h4 {
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

p {
    line-height: 1.5;
}





/*------------------------------------*\
  #BUTTON BASIC
\*------------------------------------*/

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 9999px;
    border: 2px solid var(--color-bg);
    padding: .4rem 2.3rem;
    line-height: normal;
}

.button-primary {
    font-weight: 800;
    margin-right: .5rem;
    color: var(--color-text);
    background-color: var(--color-text-light);
    border-color: transparent;
    transition: transform .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
}

.button-primary:hover {
    background-color: transparent;
    color: var(--color-text-light);
    transform: scale(1.15);
}

.button-secondary {
    display: none;
    font-weight: 400;
    margin-left: .5rem;
    color: var(--color-text-light);
    border-color: var(--color-text-light);
    transition: transform .4s ease-in-out, border .5s ease-in-out;
}

.button-secondary:hover {
    border-color: transparent;
    transform: scale(1.15);
}

.services__button,
.button-section,
.button-rating,
.price__card-button {
    position: relative;
    display: inline-block;
    padding-right: 2.1rem;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
    transition: color 0.3s ease;
}

.price__card-button {
    border-color: var(--color-text);
    font-size: .8rem;
    padding: .5rem;
    padding-right: 2.1rem;
}

.button__arrow,
.price__button-arrow {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0s ease;
}

.button-section,
.button-rating {
    border: 2px solid var(--color-text);
    padding-left: 1rem;
    transition: border-color .2s ease-in transform .2s ease-in;
}

.services__button:hover,
.button-section:hover,
.price__card-button:hover {
    border-color: transparent;
}

.services__button:hover .button__arrow,
.button-section:hover .button__arrow,
.button-rating:hover .button__arrow,
.price__card-button:hover .price__button-arrow {
    transform: translateY(-50%) translateX(5px);
}

.button-about:hover {
    color: var(--color-text);
}

.services__button {
    padding-left: 0;
    color: var(--color-text-light);
}





/*------------------------------------*\
  #ICONS
\*------------------------------------*/

.card__icon img,
.price__card-icon {
    width: 100%;
}

.checkmark-icon {
    width: 15px;
    fill: var(--color-text-light);
    margin-right: .7rem;
}

.button__arrow,
.price__button-arrow {
    max-width: 20px;
}

.right__arrow {
    max-width: 30px;
    ;
}

.footer__icons {
    max-width: 30px;
}

.up-button {
    max-width: 30px;
}

.icon-left,
.icon-right {
    max-width: 30px;
}





/*------------------------------------*\
  #HAMBURGER BUTTON & ANIMATION
\*------------------------------------*/

/*HAMBURGER BUTTON*/

.navbar__hamburger {
    position: absolute;
    top: 3.6rem;
    right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 16px;
}

.navbar__hamburger span {
    height: 3px;
    background-color: var(--color-bg);
}

.bar1 {
    width: 100%;
    border-radius: 9999px;
}

.bar2 {
    width: 80%;
    border-radius: 9999px;
}

.bar3 {
    width: 100%;
    border-radius: 9999px;
}

/*HAMBURGER MENU ANIMATION*/

.bar1,
.bar2,
.bar3 {
    transition: transform .4s ease;
}

.bar1 {
    transform-origin: center;
}

.bar3 {
    transform-origin: center;
}

.navbar__hamburger.open .bar1 {
    transform: translateY(6.5px) rotate(45deg);
}

.navbar__hamburger.open .bar2 {
    width: 0%;
    opacity: 0;
}

.navbar__hamburger.open .bar3 {
    transform: translateY(-6.5px) rotate(-45deg);
}

@keyframes openmenu {

    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }

}





/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background: url('assets/cover.jpg') no-repeat center;
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    padding-bottom: 0;
}

.navbar__logo {
    width: 13rem;
    padding-top: .6rem;
}

.navbar__menu {
    display: none;
    width: 100%;
    transform-origin: top center;
    padding-top: 2rem;
}

.navbar__menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .4rem;
}

.navbar__menu ul a {
    font-size: 1.1rem;
}

.navbar__item,
.button-navbar {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-heading);
    line-height: 1.6;
    font-size: .95rem;
    letter-spacing: .3px;
    font-weight: 700;
    color: var(--color-bg);
    padding: .3rem 0rem;
    width: 100%;
    transition: color .5s ease;
}

.button-navbar {
    transition: transform .3s ease-in, border .3s ease-in-out;
    border: 2px solid transparent;
    font-weight: 700;
    padding: .3rem 1.4rem;
}

.navbar__menu.active {
    display: block;
    animation: openmenu .3s;
}





@media (min-width: 1024px) {

    .navbar {
        max-width: 1440px;
        display: flex;
        width: auto;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__hamburger {
        display: none;
    }

    .navbar__logo {
        width: 12rem;
        padding-bottom: .3rem;
        padding-top: 0;
    }

    .navbar__menu {
        display: flex;
        overflow: visible;
        white-space: normal;
        padding: 0;
    }

    .navbar__menu ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        list-style: none;
        gap: .8rem;
    }

    .navbar__menu ul a {
        font-size: .9rem;
    }

    .button-navbar {
        border: 2px solid var(--color-bg);
        font-weight: 500;
    }

    .button-navbar:hover {
        transform: scale(1.1);
        border-color: transparent;
        color: var(--color-bg-light);
    }

    .navbar__item {
        position: relative;
        padding: 0 .5rem;
    }

    .navbar__item:hover {
        color: var(--color-bg-light);
    }

    .navbar__item::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--color-text-light);
        top: 100%;
        left: 50%;
        transform: translate(-50%) scaleX(0);
        transition: transform .5s ease;
    }

    .navbar__item:hover::before {
        transform: translate(-50%) scaleX(100%);
    }
}





@media (min-width: 1440px) {

    .navbar__item {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
        font-size: 1rem;
    }

}

@media (max-width: 380px) {

    .navbar {
        padding: 1rem;
        padding-top: 3.2rem;

    }

    .navbar__hamburger {
        top: 1.9rem;
        right: 1.4rem;
    }
}






/*------------------------------------*\
  #TYPEWRITER ANIMATION
\*------------------------------------*/

@keyframes typewriter {
    0% {
        max-width: 0%;
    }

    15% {
        max-width: 100%
    }

    85% {
        max-width: 100%
    }

    85.05% {
        max-width: 0%;
    }

    100% {
        max-width: 0%;
    }
}

@keyframes blinkTextCursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--color-text-light);
    }
}





/*------------------------------------*\
  #HERO
\*------------------------------------*/

.site-header {
    width: 100%;
    background: url('/assets/hero_bg.jpg') no-repeat center;
    background-size: cover;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.hero__title--typewriter {
    display: inline-block;
    color: var(--color-text-light);
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 200;
    padding: 0.2rem 0 0.3rem 0;
    cursor: pointer;
    border-right: 2.32px solid;
    animation: typewriter 10s steps(15) normal infinite, blinkTextCursor 1s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

.hero__text {
    color: var(--color-bg);
    text-align: center;
    font-weight: 200;
    line-height: 1.5;
    padding: 4rem;
}





@media (min-width: 768px) {

    .button-secondary {
        display: inline-block;
    }

    .hero-content {
        padding-top: 3rem;
    }
}





@media (min-width: 1024px) {
    .hero-content {
        padding-top: 8rem;
    }
}





@media (min-width: 1440px) {

    .hero-content {
        padding-top: 10rem;
        padding-bottom: 4rem;
    }
}





/*------------------------------------*\
  #SERVICES
\*------------------------------------*/

.services {
    max-width: 1800px;
    margin: 0 auto;
}

.services__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 3rem;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.card__icon {
    display: flex;
    align-items: center;
    padding: .4rem;
    padding-bottom: 1.5rem;
    max-width: 200px;
    opacity: 0;
    transform: translateY(24px) scale(0.05);
    transition: opacity 0.7s ease, transform 0.7s cubic-bezier(.2, .8, .2, 1);
}

.card__icon.is-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.services__card {
    padding: .4rem;
}

.services__card p {
    padding-bottom: 1.5rem;
}

.services__card-title {
    text-transform: uppercase;
    font-weight: 800;
}

.services__card-subtitle {
    font-weight: 600;
    padding-bottom: 1rem;
}





@media (min-width: 768px) {

    .card__icon--align {
        order: 2;
    }

    .services__item {
        flex-direction: row;
        align-items: start;
    }

    .services__card-title {
        text-align: left;
    }

    .services__card {
        max-width: 70%;
        margin: 0 auto;
    }
}





@media (min-width: 1200px) {
    .services__items {
        flex-direction: row;
    }

    .services__item {
        flex-direction: column;
        align-items: center;
    }

    .services__card-title,
    .services__card-subtitle {
        text-align: center;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: calc(100% / 3);
    }

    .card__icon--align {
        order: 0;
    }

    .services__card-text {
        padding: 1rem 0rem;
    }
}





/*------------------------------------*\
  #PRICES
\*------------------------------------*/

.price {
    max-width: 1800px;
    text-align: center;
    margin: 0 auto;
}

.price__cards {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
}

.price__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-bg-light);
    border-radius: .8rem;
    text-align: left;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.price__card.is-visible {
    opacity: 1;
    transform: scale(1);
}

.price__card-note {
    font-size: .7rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.price__card-list {
    line-height: 1.5;
    padding-bottom: 1rem;
}

.price__card-2 ul {
    line-height: 2rem;
}

.price__card-list-price {
    display: inline-block;
    color: var(--color-text-light);
    font-weight: 500;
}

.price__card-icon {
    max-width: 150px;
}

.price__card-price {
    color: var(--color-text-light);
    font-weight: 800;
    font-size: clamp(1.5rem, 8vw, 7rem);
}

.card__text--small {
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 1.1rem);
}

.price__card-text {
    font-size: clamp(.7rem, 1vw, .9rem);
}


@media (min-width: 768px) {
    .price__cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .price__card-1 {
        grid-column: span 2;
    }
}





@media (min-width: 1024px) {
    .price__card-list-icon:hover {
        transform: translateY(-2px);
    }
}





@media (min-width: 1200px) {
    .price__cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .price__card-1 {
        grid-column: 2;
        grid-row: 1;
    }

    .price__card-2 {
        grid-column: 1;
        grid-row: 1;
    }

    .price__card-3 {
        grid-column: 3;
        grid-row: 1;
    }

    .price__card-price {
        font-size: clamp(1.2rem, 4vw, 3rem);
    }
}




/*------------------------------------*\
  #ABOUT
\*------------------------------------*/

.about__content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.about__content-top {
    display: flex;
    flex-direction: column;
}

.about__image {
    width: 100%;
    max-width: 240px;
    padding-bottom: 2rem;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.6s ease, transform 0.3s ease-in-out;
}

.about__image.is-visible {
    opacity: 1;
    transform: scale(1);
}

.about__image:hover {
    transform: scale(1.05);
}

.profile-picture {
    max-width: 100%;
    height: auto;
    display: block;
}

.about__text {
    text-align: left;
}

.about__text-lined {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
}

.about__text--spaced {
    white-space: nowrap;
    text-align: center;
    font-weight: 800;
    color: var(--color-text-light);
    letter-spacing: .2rem;
    line-height: 1.5;
    margin-left: 1rem;
    margin-right: 1rem;
}

.about__line-left,
.about__line-right {
    flex: 1;
    height: 2px;
    background-color: var(--color-text-light);
}

.about__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: .8rem 5rem;
    padding-bottom: 4rem;
}

.about__list-item {
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(40px) scale(0.8);
    transition: opacity 1s ease-in, transform 3s ease;
}

.about__list-item.is-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.item-1 {
    transition-delay: 0s;
}

.item-2 {
    transition-delay: 0.15s;
}

.item-3 {
    transition-delay: 0.3s;
}

.item-4 {
    transition-delay: 0.45s;
}

.item-5 {
    transition-delay: 0.6s;
}

.item-6 {
    transition-delay: 0.75s;
}


@media (min-width: 768px) {

    .about__content-top {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .about__image {
        flex: 0 1 40%;
    }

    .about__text {
        flex: 1;
        text-align: left;
    }

    .about__text-lined {
        justify-content: flex-start;
    }

    .about__line-left {
        display: none;
    }

    .about__list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}





@media (min-width: 1024px) {
    .about__list {
        gap: 1rem 8rem;
    }
}





@media (min-width: 1440px) {
    .about__list {
        grid-template-columns: repeat(3, 1fr);
    }
}





/*------------------------------------*\
  #ORDER
\*------------------------------------*/





/*------------------------------------*\
  #PORTFOLIO
\*------------------------------------*/

.portfolio__tag {
    text-transform: uppercase;
    color: var(--color-text);
}





/*------------------------------------*\
  #POPUP
\*------------------------------------*/

.popup__box {

    display: inline;

}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
    background: url('/assets/footer_bg.jpg') no-repeat center;
    background-size: cover;
}

i {
    color: var(--color-strong);
}





/*------------------------------------*\
  #COPYRIGHT
\*------------------------------------*/

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    color: var(--color-bg);
    font-family: var(--font-primary);
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.copyright__logo {
    max-width: 120px;
    margin-bottom: -.15rem;
}

.copyright__text {
    width: 100%;
    text-align: center;
    font-size: .8rem;
}