:root {
    --color-text: #0A1522;
    --color-text-light: #00B3CC;
    --color-bg: #ffffff;
    --color-bg-light: #D7ECEF;
    --color-strong: #FFC859;
    --font-primary: "Rubik", sans-serif;
    --font-heading: "Poppins", sans-serif;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
    box-sizing: border-box;
}





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
    margin: 0px;
    padding: 0px;
}





/*------------------------------------*\
  #HEADINGS & FONTS
\*------------------------------------*/

html {
    font-size: 16px;
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-bg);
}


h1 {
    font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
}

h3 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
}

h4 {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
}

h1,
h2,
h3,
h4,
.hero {
    font-family: var(--font-heading);
}

h1,
h2 {
    font-weight: 800;
    padding: .4rem 0;
    color: var(--color-bg);
    text-align: center;
}







/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.button {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 9999px;
    border: 2px solid var(--color-bg);
    padding: .5em 1.4rem;
}

.button-primary {
    font-weight: 800;
    margin-right: .5rem;
    color: var(--color-text);
    background-color: var(--color-text-light);
    border: none;
}

.button-secondary {
    font-weight: 400;
    margin-left: .5rem;
    color: var(--color-text-light);
    border: 2px solid var(--color-text-light);
}





/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background: url('assets/cover.jpg') no-repeat center;
    background-size: cover;
    height: 520px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
}

.navbar__logo {
    width: 12rem;
    margin: 1rem 3rem .5rem 3rem;
}

.navbar__menu ul {
    display: flex;
    margin: 1rem 0rem 0rem 0rem;
}

.navbar__menu.active {
  display: block;
}

.navbar__item {
    display: block;
    text-align: center;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: .9rem;
    color: var(--color-bg);
    padding: .5rem 1.4rem;
}

/*typewriter animation*/

@keyframes typewriter {
    0% {
        max-width: 0%;
    }

    15% {
        max-width: 100%
    }

    85% {
        max-width: 100%
    }

    85.05% {
        max-width: 0%;
    }

    100% {
        max-width: 0%;
    }
}

@keyframes blinkTextCursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--color-text-light);
    }
}

/*HAMBURGER BUTTON*/

.navbar__hamburger {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 16px;
}

.navbar__hamburger span {
    height: 3px;
    background-color: var(--color-bg);
}

.bar1 {
    width: 100%;
    border-radius: 9999px;
}

.bar2 {
    width: 80%;
    border-radius: 9999px;
}

.bar3 {
    width: 100%;
    border-radius: 9999px;
}

/*HAMBURGER MENU ANIMATION*/

.bar1 {
    transition: all .5s ease;
    transform-origin: center;
}

.bar2 {
    transition: all .5s ease;
}

.bar3 {
    transition: all .5s ease;
    transform-origin: center;
}

.navbar__hamburger.open .bar1 {
    transform: translateY(6.5px) rotate(45deg);
}

.navbar__hamburger.open .bar2 {
    width: 0%;
    opacity: 0%;
}

.navbar__hamburger.open .bar3 {
    transform: translateY(-6.5px) rotate(-45deg);
}

@keyframes openmenu {

0% {
  transform: scaleY(0);
}
80% {
  transform: scaleY(1.1);
}
100% {
  transform: scaleY(1);
}

}


/***/


@media (max-width: 1080px) {

.navbar__hamburger {
  display: flex;
  border-radius: 9px;
}

.navbar__menu {
  width: 100%;
  display: none;
  animation: openmenu .3s;
  white-space: nowrap;
  overflow: hidden; 
  transform-origin: top center;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar__menu ul {
  flex-direction: column;
  width: 100%;
}

.navbar__item {
  padding: .3rem 0rem;
}

.navbar__item.active {
  display: flex;
}

.button-navbar {
    border: none;
}
}

@media (max-width: 380px) {

.navbar__logo {
    max-width: 55vw;
    margin-left: 1rem;
}
}















/*------------------------------------*\
  #HERO
\*------------------------------------*/

.site-header {
    width: 100%;
    background: url('/assets/hero_bg.jpg') no-repeat center;
    background-size: cover;
}

.hero-content {
    padding: 9rem 3rem 5.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    text-align: left;
}

.hero__title--typewriter {
    display: inline-block;
    text-align: left;
    color: var(--color-text-light);
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 200;
    padding: 0.2rem 0 0.3rem 0;
    cursor: pointer;
    border-right: 2.32px solid;
    animation: typewriter 10s steps(15) normal infinite, blinkTextCursor 1s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

.hero__text {
    color: var(--color-bg);
    text-align: center;
    font-weight: 200;
    line-height: 1.5;
    padding: 3rem 3rem 4rem 3rem;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}

@media (max-width: 1080px) {
    .hero-content {
        padding: 6rem 1.5rem 5rem 1.5rem;
    }
}

@media (max-width: 380px) {

.button-secondary {
    display: none;
}

.hero-content {
    padding: 4rem .2rem 4.5rem .2rem;
}


}


/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/









/*------------------------------------*\
  #POPUP
\*------------------------------------*/

.popup__box {
  display: inline;
}