/*------------------------------------*\url(http://127.0.0.1:3000/404.html)
  #VARIABLES
\*------------------------------------*/
 
:root {
    --font-color:           #0A1522;
    --font-color-grey:      #868C92;
    --font-color-hover:     rgba(10,21,34,.7);
    --secondary-font-color: #ffffff;
    --secondary-color:      #00B3CC;
    --secondary-color-hover:#4cc9db;
    --main-font:            'Roboto', sans-serif;
    --font-pair:            'Raleway', sans-serif; 
  }

    
  
    
  
/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/
  
* {
    box-sizing: border-box;
  }





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

html {
    margin: 0px;
    padding: 0px;  
  }
  
.container-404 {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.text-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    line-height: 130%;
    font-size: 1.4rem;
}
  
@media (max-width: 860px) {

  .container-404 {
    width: 90%
  }
}

 



/*------------------------------------*\
  #FONTS
\*------------------------------------*/

  html {
    font-size:   min(3.2vw, 14px);
    font-family: 'Roboto', sans-serif;
    color:       var(--font-color);
  }  

  h1 {
    font-family: var(--font-pair);
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    padding: 50px;
    margin-top: 40px;
  }

  .button-main {
    text-decoration: none;
    font-family: var(--font-pair);
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    margin-top: 20px;
    padding: 6px 15px;
    border-radius: 8px;
  }

  .button-main:hover {
    background-color: var(--secondary-color-hover);
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }